<div id="contact" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Contáctanos</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="direccion">
                    <p>Av. de la Cultura 789, Cd. del Valle.
                    <p>Tepic, Nayarit.
                    <p>Tel. 311-456-7890.
                    <p>____________________________________________</p>
                    <p>EQUIPO:
                    <p> • Erick Daniel Curiel Espinosa</p>
                    <p> • Luis Xavier Monroy Gutierrez</p>
                    <p> • Braylosky Ramirez Fletes</p>
                    <p> • Paul Neftaly Campos Contreras</p>
                    <p> • Edgar Fabian Ramirez Silvestre</p>
                    <p> • Manuela Michelle Salinas Tirado</p>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-phone"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-whatsapp"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>