<app-navbar></app-navbar>
<div id="slides">
    <ul class="slides-container">
        <li><img src="../../assets/images/banner1.jpg" width="100%"></li>
        <li><img src="../../assets/images/banner2.jpg" width="100%"></li>
        <li><img src="../../assets/images/banner3.jpg" width="100%"></li>
        <li><img src="../../assets/images/banner4.jpg" width="100%"></li>
    </ul>
    
    <nav class="slides-navigation">
      <a href="#" class="fa fa-chevron-right next" aria-hidden="true"></a>
      <a href="#" class="fa fa-chevron-left prev" aria-hidden="true"></a>
    </nav>
  </div>