.container {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-content: center;
}


.renglon .precio,
.total .precio-total{
    text-align: right;
}

.encabezado-detalle .columnas-precio{
    text-align: center;
}

.productos .renglon {
    color: white;
    font-family: "Balsamiq Sans", sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin-bottom: 10px;
}
