<nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/LOLO JOBANNISSS.png" alt="" width="70px" class="d-inline-block align-text-center">
        <b>Jobanisss Gym</b>
      </a>
      <div id="main-nav" class="botones">
        <ul id="menu">
          <li><a href="/productos">Productos</a></li>
          <li><a href="/agregar-producto">Agregar Producto</a></li>    
          <li><a href="">Salir</a></li>         
        </ul>
      </div>
    </div>
  </nav>